<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VRegisterServlet</servlet-name>
        <servlet-class>controller.VRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdoptionServlet</servlet-name>
        <servlet-class>controller.AdoptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlets</servlet-name>
        <servlet-class>controller.LoginServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GirlsDetailsServlet</servlet-name>
        <servlet-class>controller.GirlsDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ULoginServlets</servlet-name>
        <servlet-class>controller.ULoginServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NLoginServlets</servlet-name>
        <servlet-class>controller.NLoginServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CampaignServlet</servlet-name>
        <servlet-class>controller.CampaignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NGORegisterServlet</servlet-name>
        <servlet-class>controller.NGORegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FundServlet</servlet-name>
        <servlet-class>controller.FundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>controller.Captcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExperienceServlet</servlet-name>
        <servlet-class>controller.ExperienceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VLoginServlets</servlet-name>
        <servlet-class>controller.VLoginServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegServlet</servlet-name>
        <servlet-class>controller.UserRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NgogirlServlet</servlet-name>
        <servlet-class>controller.NgogirlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventRegServlet</servlet-name>
        <servlet-class>controller.EventRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentServlet</servlet-name>
        <servlet-class>controller.ParentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>controller.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppCampServlet</servlet-name>
        <servlet-class>controller.AppCampServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TryServlet</servlet-name>
        <servlet-class>controller.TryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppDonation</servlet-name>
        <servlet-class>controller.AppDonation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmountServlet</servlet-name>
        <servlet-class>controller.AmountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VRegisterServlet</servlet-name>
        <url-pattern>/VRegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdoptionServlet</servlet-name>
        <url-pattern>/AdoptionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlets</servlet-name>
        <url-pattern>/LoginServlets.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GirlsDetailsServlet</servlet-name>
        <url-pattern>/GirlsDetailsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ULoginServlets</servlet-name>
        <url-pattern>/ULoginServlets.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NLoginServlets</servlet-name>
        <url-pattern>/NLoginServlets.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CampaignServlet</servlet-name>
        <url-pattern>/CampaignServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NGORegisterServlet</servlet-name>
        <url-pattern>/NGORegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FundServlet</servlet-name>
        <url-pattern>/FundServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/Captcha.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExperienceServlet</servlet-name>
        <url-pattern>/ExperienceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VLoginServlets</servlet-name>
        <url-pattern>/VLoginServlets.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegServlet</servlet-name>
        <url-pattern>/UserRegServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NgogirlServlet</servlet-name>
        <url-pattern>/NgogirlServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventRegServlet</servlet-name>
        <url-pattern>/EventRegServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentServlet</servlet-name>
        <url-pattern>/ParentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppCampServlet</servlet-name>
        <url-pattern>/AppCampServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TryServlet</servlet-name>
        <url-pattern>/TryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppDonation</servlet-name>
        <url-pattern>/AppDonation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmountServlet</servlet-name>
        <url-pattern>/AmountServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
